@(postForm: Form[Post], postOption: Option[Post] = None)(implicit flash: Flash)

@main("Add a post") {
    @helper.form(action = postOption.map(post => routes.PostsController.save(post.id)).getOrElse(routes.Application.addPost()), 'id -> "post-form") {
        @helper.inputText(postForm("id"), 'id -> "edit-post-id", 'class -> "input-xlarge", 'disabled -> "true")
        <input type="hidden" name="id" value="@postForm("id").value.getOrElse("")">
        @helper.inputText(postForm("title"), 'id -> "edit-post-title", 'class -> "input-xlarge")
        @helper.textarea(postForm("content"), 'id -> "edit-post-content", 'class -> "input-xlarge", 'rows -> "10")
        <button type="submit" class="btn btn-primary" id="edit-post-submit">Save</button>
    }

    <h4>Comments</h4>
    @postOption.map(_.comments).getOrElse(Nil).map { comment =>
        <article class="comment">
            <p><strong>@comment.author</strong> wrote on @comment.publishedAt</p>
            <p class="content">@comment.content</p>
        </article>
    }
}

