@(postForm: Form[Post], id: Option[String])(implicit flash: Flash)

@main("Add a post") {
    @helper.form(action = id.map(id => routes.PostsController.save(id)).getOrElse(routes.Application.addPost()), 'id -> "post-form") {
        @helper.inputText(postForm("id"), 'id -> "edit-post-id", 'class -> "input-xlarge", 'disabled -> "true")
        <input type="hidden" name="id" value="@postForm("id").value.getOrElse("")">
        @helper.inputText(postForm("title"), 'id -> "edit-post-title", 'class -> "input-xlarge")
        @helper.textarea(postForm("content"), 'id -> "edit-post-content", 'class -> "input-xlarge", 'rows -> "10")
        <button type="submit" class="btn" id="edit-post-submit">Submit</button>
    }
}

